---
layout: default
title: tag
---



<script>
    let tagPosts = [];

    {% for tag in site.tags %}
        //declare and init an empty array per post
        tagPosts.{{tag[0]}} = [];

        {% for post in tag[1] %}
            //declare and init an empty array per post id
            tagPosts.{{tag[0]}}["{{post.id}}".split('/').join('')] = [];

            //set the title and url per post id
            tagPosts.{{tag[0]}}["{{post.id}}".split('/').join('')].title = "{{post.title}}";
            tagPosts.{{tag[0]}}["{{post.id}}".split('/').join('')].url = "{{post.url}}";
        {% endfor %}

    {% endfor %}

    let params = new URLSearchParams(document.location.search.substring(1));
    let tag = params.get("tag");


</script>