---
layout: default
title: tag
---

<h1 id="h1Title">Posts for tag </h1>

<ul id="postList">

</ul>


<script>
    let tagPosts = [];

    {% for tag in site.tags %}
        //declare and init an empty array per post
        tagPosts.{{tag[0]}} = [];

        {% for post in tag[1] %}
            //declare and init an empty array per post id
            tagPosts.{{tag[0]}}["{{post.id}}".split('/').join('')] = [];

            //set the title and url per post id
            tagPosts.{{tag[0]}}["{{post.id}}".split('/').join('')].title = "{{post.title}}";
            tagPosts.{{tag[0]}}["{{post.id}}".split('/').join('')].url = "{{post.url}}";
        {% endfor %}

    {% endfor %}

    let params = new URLSearchParams(document.location.search.substring(1));
    let tag = params.get("tag");


    //append the tag to the h1 title of the page
    document.getElementById('h1Title').textContent += tag;

    let postListEl = document.getElementById('postList');

    //create entries for all posts related to this tag
    for (post in tagPosts[tag]) {

        /*
            structure:
            <li>
                <h2><a href="{{ post.url }}">{{ post.title }} - [{{post.date | date_to_string }}]</a></h2>
                <p>{{ post.excerpt }}</p>
            </li>
        */
        let liEl = document.createElement('li');
        let h2El = document.createElement('h2');
        let aEl = document.createElement('a');
        let pEl = document.createElement('p');

        a.setAttribute('href', post.title);

    }

</script>